{"openapi":"3.0.3","info":{"title":"Peec AI Customer API","description":"Development documentation","version":"1.0.0","contact":{"name":"Peec AI Team","email":"support@peec.ai"}},"servers":[{"url":"https://api.peec.ai/customer/v1"}],"components":{"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"X-API-Key"},"APIKeyQuery":{"type":"apiKey","in":"query","name":"api_key"}},"schemas":{}},"paths":{"/reports/brands":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Brands Report","description":"Get a report on Brands.\n\n## Aggregation Formulas\n\nWhen aggregating results across multiple rows/dimensions, use the following formulas:\n\n- **sentiment**: `((sum(sentiment_sum) / sum(sentiment_count)) / 2 + 0.5) * 100`\n- **position**: `sum(position_sum) / sum(position_count)`\n- **visibility**: `sum(visibility_count) / sum(visibility_total)`\n- **share_of_voice**: `mention_count / sum(mention_count)`","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"}},"required":["id","name"]},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"share_of_voice":{"example":0.15,"type":"number"},"mention_count":{"example":42,"type":"number"},"visibility":{"example":0.5,"type":"number"},"visibility_count":{"example":5,"type":"number"},"visibility_total":{"example":10,"type":"number"},"sentiment":{"example":50,"type":"number"},"sentiment_sum":{"example":0,"type":"number"},"sentiment_count":{"example":10,"type":"number"},"position":{"example":1.5,"type":"number"},"position_sum":{"example":15,"type":"number"},"position_count":{"example":10,"type":"number"}},"required":["brand","mention_count","visibility","visibility_count","visibility_total"]}}},"required":["data"]}}}}},"operationId":"postReportsBrands"}},"/reports/domains":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Domains Report","description":"Get a report on Source Domains","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"domain":{"example":"example.com","type":"string"},"classification":{"example":"UGC","nullable":true,"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN"]},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"usage_rate":{"example":0.8,"type":"number"},"citation_avg":{"example":2.5,"type":"number"}},"required":["domain","classification","usage_rate","citation_avg"]}}},"required":["data"]}}}}},"operationId":"postReportsDomains"}},"/reports/urls":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get URLs Report","description":"Get a report on Source URLs","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","tag_id","topic_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"url":{"example":"https://example.com/blog/page1#header","type":"string"},"classification":{"example":"HOMEPAGE","nullable":true,"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]},"title":{"nullable":true,"type":"string"},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"usage_count":{"example":8,"type":"number"},"citation_count":{"example":4,"type":"number"},"citation_avg":{"example":2.5,"type":"number"}},"required":["url","classification","title","usage_count","citation_count","citation_avg"]}}},"required":["data"]}}}}},"operationId":"postReportsUrls"}},"/queries/search":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Fanout Search Queries","description":"Get the fanout search queries of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"chat":{"type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","nullable":true,"type":"string"}},"required":["id"]},"date":{"example":"2025-09-17","type":"string"},"query":{"type":"object","properties":{"index":{"example":0,"type":"number"},"text":{"example":"What is Peec?","type":"string"}},"required":["index","text"]}},"required":["prompt","chat","model","date","query"]}}},"required":["data"]}}}}},"operationId":"postQueriesSearch"}},"/queries/shopping":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Fanout Shopping Queries","description":"Get the fanout shopping queries of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","perplexity-scraper","google-ai-overview-scraper","gpt-4o-search","google-ai-mode-scraper","gemini-scraper","claude-sonnet-4","microsoft-copilot-scraper","claude-3.5-haiku","gpt-4o","gpt-3.5-turbo","gemini-2.5-flash","sonar","deepseek-r1","llama-3.3-70b-instruct","grok-scraper","grok-api","llama-sonar"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"chat":{"type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","nullable":true,"type":"string"}},"required":["id"]},"date":{"example":"2025-09-17","type":"string"},"query":{"type":"object","properties":{"text":{"example":"What is Peec?","type":"string"},"products":{"example":["Peec AI","Peec Pro"],"type":"array","items":{"type":"string"}}},"required":["text","products"]}},"required":["prompt","chat","model","date","query"]}}},"required":["data"]}}}}},"operationId":"postQueriesShopping"}},"/brands":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Brands","description":"Get the brands of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"},"domains":{"type":"array","items":{"example":"peec.ai","type":"string"}}},"required":["id","name"]}}},"required":["data"]}}}}},"operationId":"getBrands"}},"/prompts":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Prompts","description":"Get the prompts of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"},"messages":{"type":"array","items":{"type":"object","properties":{"content":{"example":"Example Prompt","type":"string"}},"required":["content"]}},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]}},"topic":{"nullable":true,"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"user_location":{"type":"object","properties":{"country":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GR","GT","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}},"required":["country"]},"volume":{"type":"number"}},"required":["id","messages","tags","topic","user_location"]}}},"required":["data"]}}}}},"operationId":"getPrompts"}},"/tags":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Tags","description":"Get the tags of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"},"name":{"example":"SEO","type":"string"}},"required":["id","name"]}}},"required":["data"]}}}}},"operationId":"getTags"}},"/topics":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Topics","description":"Get the topics of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"to_5524d66a-df1e-47e4-9dbc-802af39235ad","type":"string"},"name":{"example":"SEO","type":"string"}},"required":["id","name"]}}},"required":["data"]}}}}},"operationId":"getTopics"}},"/models":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Models","description":"Get the models","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","example":{"data":[{"id":"chatgpt-scraper","is_active":true},{"id":"gpt-4o-search","is_active":true},{"id":"perplexity-scraper","is_active":true}]},"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"is_active":{"description":"Indicates if the model is active for the project.","type":"boolean"}},"required":["id","is_active"]}}},"required":["data"]}}}}},"operationId":"getModels"}},"/chats":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Chats","description":"Get the chats of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}},{"name":"start_date","in":"query","required":false,"schema":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"}},{"name":"end_date","in":"query","required":false,"schema":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"date":{"example":"2025-09-17","type":"string"}},"required":["id","prompt","model","date"]}}},"required":["data"]}}}}},"operationId":"getChats"}},"/chats/{chat_id}/content":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Chat","description":"Get a single chat","tags":["Project"],"parameters":[{"name":"chat_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"sources":{"type":"array","items":{"type":"object","properties":{"url":{"example":"https://peec.ai/blog#header","type":"string"},"urlNormalized":{"example":"peec.ai/blog","nullable":true,"type":"string"},"domain":{"example":"peec.ai","type":"string"},"citationCount":{"type":"number"},"citationPosition":{"type":"number"}},"required":["url","urlNormalized","domain","citationCount","citationPosition"]}},"brands_mentioned":{"type":"array","items":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"},"position":{"type":"number"}},"required":["id","name","position"]}},"messages":{"example":[{"role":"user","content":"Example Prompt"},{"role":"assistant","content":"Example Response"}],"type":"array","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant"]},"content":{"type":"string"}},"required":["role","content"]}},"queries":{"type":"array","items":{"example":"best AI search tools 2026","type":"string"}},"products":{"type":"array","items":{"type":"object","properties":{"name":{"example":"Peec AI Pro","type":"string"},"queries":{"type":"array","items":{"example":"buy Peec AI Pro online","type":"string"}}},"required":["name","queries"]}}},"required":["id","prompt","model","sources","brands_mentioned","messages","queries","products"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"getChatsByChat_idContent"}},"/projects":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Projects","description":"Get the projects of a company","tags":["Company"],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"or_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"},"status":{"example":"PITCH","type":"string","enum":["CUSTOMER","CUSTOMER_ENDED","PITCH","PITCH_ENDED","TRIAL","TRIAL_ENDED","ONBOARDING","DELETED"]}},"required":["id","name","status"]}}},"required":["data"]}}}}},"operationId":"getProjects"}}}}