{"openapi":"3.0.3","info":{"title":"Peec AI Customer API","description":"Development documentation","version":"1.0.0","contact":{"name":"Peec AI Team","email":"support@peec.ai"}},"servers":[{"url":"https://api.peec.ai/customer/v1"}],"components":{"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"X-API-Key"},"APIKeyQuery":{"type":"apiKey","in":"query","name":"api_key"}},"schemas":{}},"paths":{"/reports/brands":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Brands Report","description":"Get a report on Brands.\n\n## Aggregation Formulas\n\nWhen aggregating results across multiple rows/dimensions, use the following formulas:\n\n- **sentiment**: `((sum(sentiment_sum) / sum(sentiment_count)) / 2 + 0.5) * 100`\n- **position**: `sum(position_sum) / sum(position_count)`\n- **visibility**: `sum(visibility_count) / sum(visibility_total)`\n- **share_of_voice**: `mention_count / sum(mention_count)`","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"visibility","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["visibility","visibility_count","mention_count","sentiment","position","share_of_voice"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"visibility","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["visibility","visibility_count","mention_count","sentiment","position","share_of_voice"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"brand_id","operator":"in","values":["kw_abc123"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"visibility","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["visibility","visibility_count","mention_count","sentiment","position","share_of_voice"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"}},"required":["id","name"]},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"deprecated":true,"description":"Deprecated: use model_channel instead","type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"model_channel":{"type":"object","properties":{"id":{"example":"openai-1","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"country_code":{"example":"US","type":"string"},"chat":{"type":"object","properties":{"id":{"example":"ch_abc123","type":"string"}},"required":["id"]},"date":{"example":"2025-03-15","type":"string"},"share_of_voice":{"example":0.15,"type":"number"},"mention_count":{"example":42,"type":"number"},"visibility":{"example":0.5,"type":"number"},"visibility_count":{"example":5,"type":"number"},"visibility_total":{"example":10,"type":"number"},"sentiment":{"example":50,"type":"number"},"sentiment_sum":{"example":0,"type":"number"},"sentiment_count":{"example":10,"type":"number"},"position":{"example":1.5,"type":"number"},"position_sum":{"example":15,"type":"number"},"position_count":{"example":10,"type":"number"}},"required":["brand","mention_count","visibility","visibility_count","visibility_total"]}}},"required":["data"]}}}}},"operationId":"postReportsBrands"}},"/reports/domains":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get Domains Report","description":"Get a report on Source Domains.\n\n## Aggregation Formulas\n\nWhen aggregating results across multiple rows/dimensions, use the following formulas:\n\n- **citation_rate**: `sum(citation_count) / sum(retrieval_count)`\n- **retrieval_rate**: `sum(retrieval_count) / sum(total_chat_count)`\n- **retrieval_percentage**: `sum(retrieved_chat_count) / sum(total_chat_count)`","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"citation_rate","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["citation_rate","retrieval_count","citation_count"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"citation_rate","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["citation_rate","retrieval_count","citation_count"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"domain","operator":"in","values":["example.com"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"citation_rate","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["citation_rate","retrieval_count","citation_count"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"domain":{"example":"example.com","type":"string"},"classification":{"example":"UGC","nullable":true,"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"deprecated":true,"description":"Deprecated: use model_channel instead","type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"model_channel":{"type":"object","properties":{"id":{"example":"openai-1","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"country_code":{"example":"US","type":"string"},"chat":{"type":"object","properties":{"id":{"example":"ch_abc123","type":"string"}},"required":["id"]},"date":{"type":"string"},"usage_rate":{"example":0.8,"deprecated":true,"description":"Deprecated: use retrieved_percentage or retrieval_rate instead","type":"number"},"citation_avg":{"example":2.5,"deprecated":true,"description":"Deprecated: use citation_rate instead","type":"number"},"retrieved_percentage":{"example":0.6,"type":"number"},"retrieval_rate":{"example":1.2,"type":"number"},"citation_rate":{"example":1.5,"type":"number"},"retrieval_count":{"example":24,"description":"Total number of distinct URL retrievals from this domain across all chats","type":"number"},"citation_count":{"example":12,"description":"Total number of citations from this domain","type":"number"},"retrieved_chat_count":{"example":18,"description":"Number of distinct chats in which at least one URL from this domain was retrieved","type":"number"},"total_chat_count":{"example":30,"description":"Total number of chats in scope for this row (used as the denominator for retrieval_rate and retrieval_percentage)","type":"number"},"mentioned_brands":{"description":"Brand IDs mentioned alongside URLs from this domain","type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}},"required":["domain","classification","usage_rate","citation_avg","retrieved_percentage","retrieval_rate","citation_rate","retrieval_count","citation_count","retrieved_chat_count","total_chat_count","mentioned_brands"]}}},"required":["data"]}}}}},"operationId":"postReportsDomains"}},"/reports/urls":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get URLs Report","description":"Get a report on Source URLs.\n\n## Aggregation Formulas\n\nWhen aggregating results across multiple rows/dimensions, use the following formula:\n\n- **citation_rate**: `sum(citation_count) / sum(retrieval_count)`","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"retrieval_count","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["retrieval_count","retrievals","citation_count","citation_rate"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"retrieval_count","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["retrieval_count","retrievals","citation_count","citation_rate"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"dimensions":{"example":["tag_id","model_id"],"description":"Dimensions to break down the report by.","type":"array","items":{"type":"string","enum":["prompt_id","model_id","model_channel_id","tag_id","topic_id","date","country_code","chat_id"]}},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"url","operator":"in","values":["https://example.com/page"]}],"type":"array","items":{"anyOf":[{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["country_code"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["AE","AL","AM","AR","AT","AU","BA","BE","BG","BH","BO","BR","BY","CA","CH","CL","CO","CR","CY","CZ","DE","DK","DO","EC","EE","EG","ES","FI","FR","GB","GE","GH","GR","GT","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IS","IT","JO","JP","KR","KW","LB","LT","LU","LV","MA","MD","ME","MK","MT","MX","MY","NG","NI","NL","NO","NZ","OM","PK","PA","PE","PH","PL","PT","PY","PS","QA","RO","RS","SA","SE","SG","SI","SK","SV","TH","TN","TR","TW","UA","US","UY","VE","VN","ZA"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]},{"type":"object","properties":{"field":{"type":"string","enum":["domain"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["domain_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["url_classification"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["mentioned_brand_count"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]},{"type":"object","properties":{"field":{"type":"string","enum":["gap"]},"operator":{"type":"string","enum":["gt","gte","lt","lte"]},"value":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["field","operator","value"]}]}},"order_by":{"description":"Sort results by one or more fields. Multiple entries create a multi-key sort. Direction defaults to desc. When omitted, a default ordering is applied.","example":[{"field":"retrieval_count","direction":"desc"}],"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["retrieval_count","retrievals","citation_count","citation_rate"]},"direction":{"default":"desc","type":"string","enum":["asc","desc"]}},"required":["field"]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"url":{"example":"https://example.com/blog/page1#header","type":"string"},"classification":{"example":"HOMEPAGE","nullable":true,"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]},"title":{"nullable":true,"type":"string"},"channel_title":{"description":"Channel or author name (e.g. YouTube channel, subreddit)","nullable":true,"type":"string"},"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"model":{"deprecated":true,"description":"Deprecated: use model_channel instead","type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"model_channel":{"type":"object","properties":{"id":{"example":"openai-1","type":"string"}},"required":["id"]},"tag":{"type":"object","properties":{"id":{"example":"tg_23abec5b-100a-4261-9ee7-1effe68f0149","type":"string"}},"required":["id"]},"topic":{"type":"object","properties":{"id":{"example":"to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6","type":"string"}},"required":["id"]},"country_code":{"example":"US","type":"string"},"chat":{"type":"object","properties":{"id":{"example":"ch_abc123","type":"string"}},"required":["id"]},"date":{"type":"string"},"usage_count":{"example":8,"deprecated":true,"description":"Deprecated: use retrieval_count instead","type":"number"},"citation_count":{"example":4,"type":"number"},"citation_avg":{"example":2.5,"deprecated":true,"description":"Deprecated: use citation_rate instead","type":"number"},"retrievals":{"example":8,"deprecated":true,"description":"Deprecated: use retrieval_count instead","type":"number"},"retrieval_count":{"example":8,"description":"Total number of distinct chats that retrieved this URL","type":"number"},"citation_rate":{"example":0.5,"type":"number"},"mentioned_brands":{"description":"Brand IDs mentioned alongside this URL","type":"array","items":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}},"required":["url","classification","title","usage_count","citation_count","citation_avg","retrievals","retrieval_count","citation_rate","mentioned_brands"]}}},"required":["data"]}}}}},"operationId":"postReportsUrls"}},"/sources/urls/content":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Get URL Content","description":"Return the scraped markdown content of a source URL. Use the URLs report to discover URLs.","tags":["Reports"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"url":{"example":"https://example.com/blog/page1","type":"string","format":"uri"},"max_length":{"description":"Maximum number of characters of content to return. Defaults to 100,000. If the stored content is longer, the response will be truncated and truncated=true.","example":100000,"default":100000,"type":"integer","minimum":1,"maximum":20000000}},"required":["url"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"url":{"example":"https://example.com/blog/page1","type":"string","format":"uri"},"max_length":{"description":"Maximum number of characters of content to return. Defaults to 100,000. If the stored content is longer, the response will be truncated and truncated=true.","example":100000,"default":100000,"type":"integer","minimum":1,"maximum":20000000}},"required":["url"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"url":{"example":"https://example.com/blog/page1","type":"string","format":"uri"},"max_length":{"description":"Maximum number of characters of content to return. Defaults to 100,000. If the stored content is longer, the response will be truncated and truncated=true.","example":100000,"default":100000,"type":"integer","minimum":1,"maximum":20000000}},"required":["url"]}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"object","properties":{"url":{"example":"https://example.com/blog/page1","type":"string"},"title":{"nullable":true,"type":"string"},"domain":{"example":"example.com","type":"string"},"channel_title":{"description":"Channel or author name (e.g. YouTube channel, subreddit) or null","nullable":true,"type":"string"},"classification":{"description":"Domain-level classification of the source","nullable":true,"type":"string","enum":["CORPORATE","EDITORIAL","INSTITUTIONAL","OTHER","REFERENCE","UGC","COMPETITOR","OWN","RELATED"]},"url_classification":{"description":"Page-level classification (HOMEPAGE, LISTICLE, COMPARISON, ...)","nullable":true,"type":"string","enum":["HOMEPAGE","CATEGORY_PAGE","PRODUCT_PAGE","LISTICLE","COMPARISON","PROFILE","ALTERNATIVE","DISCUSSION","HOW_TO_GUIDE","ARTICLE","OTHER"]},"content":{"description":"Markdown content of the page. Null if the URL is tracked but scraping hasn't completed yet.","nullable":true,"type":"string"},"content_length":{"description":"Original character length of the stored content before truncation. 0 when content is null.","type":"number"},"truncated":{"description":"True if content was truncated to max_length. Re-request with a larger max_length to get more.","type":"boolean"},"content_updated_at":{"description":"ISO timestamp of when the content was last scraped","nullable":true,"type":"string"}},"required":["url","title","domain","channel_title","classification","url_classification","content","content_length","truncated","content_updated_at"]}},"required":["data"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postSourcesUrlsContent"}},"/queries/search":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"List Fanout Search Queries","description":"List the fanout search queries of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"chat":{"type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"}},"required":["id"]},"model":{"deprecated":true,"description":"Deprecated: use model_channel instead","type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"model_channel":{"type":"object","properties":{"id":{"example":"openai-1","type":"string"}},"required":["id"]},"date":{"example":"2025-09-17","type":"string"},"query":{"type":"object","properties":{"index":{"example":0,"type":"number"},"text":{"example":"What is Peec?","type":"string"}},"required":["index","text"]}},"required":["prompt","chat","model","model_channel","date","query"]}},"totalCount":{"example":42,"description":"Total number of matching search queries, ignoring pagination","type":"number"}},"required":["data","totalCount"]}}}}},"operationId":"postQueriesSearch"}},"/queries/shopping":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"List Fanout Shopping Queries","description":"List the fanout shopping queries of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"project_id":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"},"limit":{"default":1000,"type":"number","minimum":1,"maximum":10000},"offset":{"default":0,"type":"number","minimum":0},"start_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"end_date":{"description":"full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21","example":"2025-09-22","default":"2026-01-01","type":"string","format":"date","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"},"filters":{"description":"Filter results by specific fields. Multiple filters are AND'd together.","example":[{"field":"prompt_id","operator":"in","values":["pr_abc123"]}],"type":"array","items":{"anyOf":[{"deprecated":true,"description":"Deprecated: use model_channel_id filter instead","type":"object","properties":{"field":{"type":"string","enum":["model_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["chatgpt-scraper","gpt-4o","gpt-4o-search","gpt-3.5-turbo","llama-sonar","perplexity-scraper","sonar","gemini-2.5-flash","gemini-scraper","google-ai-overview-scraper","google-ai-mode-scraper","llama-3.3-70b-instruct","deepseek-r1","deepseek-v4-pro","claude-3.5-haiku","claude-haiku-4.5","claude-sonnet-4","grok-scraper","microsoft-copilot-scraper","grok-4","qwen-3-6-plus","amazon-rufus-scraper"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["model_channel_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string","enum":["openai-0","openai-1","qwen-0","openai-2","perplexity-0","perplexity-1","google-0","google-1","google-2","google-3","anthropic-0","anthropic-1","deepseek-0","meta-0","xai-0","xai-1","microsoft-0","amazon-0"]}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["tag_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["topic_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["prompt_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]},{"type":"object","properties":{"field":{"type":"string","enum":["chat_id"]},"operator":{"type":"string","enum":["in","not_in"]},"values":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["field","operator","values"]}]}}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"prompt":{"type":"object","properties":{"id":{"example":"pr_93f790de-5b7a-45ee-b782-61103c81f20d","type":"string"}},"required":["id"]},"chat":{"type":"object","properties":{"id":{"example":"ch_61184892-36ad-4e1a-8178-3a83608f7711","type":"string"}},"required":["id"]},"model":{"deprecated":true,"description":"Deprecated: use model_channel instead","type":"object","properties":{"id":{"example":"gpt-4o-search","type":"string"}},"required":["id"]},"model_channel":{"type":"object","properties":{"id":{"example":"openai-1","type":"string"}},"required":["id"]},"date":{"example":"2025-09-17","type":"string"},"query":{"type":"object","properties":{"text":{"example":"What is Peec?","type":"string"},"products":{"example":["Peec AI","Peec Pro"],"type":"array","items":{"type":"string"}}},"required":["text","products"]}},"required":["prompt","chat","model","model_channel","date","query"]}},"totalCount":{"example":42,"description":"Total number of matching shopping queries, ignoring pagination","type":"number"}},"required":["data","totalCount"]}}}}},"operationId":"postQueriesShopping"}},"/brands":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"List Brands","description":"List the brands of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"},"domains":{"type":"array","items":{"example":"peec.ai","type":"string"}},"aliases":{"type":"array","items":{"example":"Peec","type":"string"}},"is_own":{"type":"boolean"},"color":{"example":"#3b82f6","description":"Hex color of the brand","type":"string"},"source":{"example":"manual","description":"How the brand was added: 'manual' for direct creation, 'suggestion' for accepted brand suggestions, 'onboarding' for autogenerated competitors seeded at project start. Absent for brands created before this field was tracked.","type":"string","enum":["manual","suggestion","onboarding"]}},"required":["id","name","is_own","color"]}},"totalCount":{"example":42,"description":"Total number of brands, ignoring pagination","type":"number"}},"required":["data","totalCount"]}}}}},"operationId":"getBrands"},"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Create Brand","description":"Create a new brand within a project","tags":["Project"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"domains":{"type":"array","items":{"type":"string"}},"regex":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"color":{"description":"Hex color like #1A2B3C","type":"string"}},"required":["name"]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"domains":{"type":"array","items":{"type":"string"}},"regex":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"color":{"description":"Hex color like #1A2B3C","type":"string"}},"required":["name"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"domains":{"type":"array","items":{"type":"string"}},"regex":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"color":{"description":"Hex color like #1A2B3C","type":"string"}},"required":["name"]}}}},"responses":{"201":{"description":"Brand created successfully","content":{"application/json":{"schema":{"description":"Brand created successfully","type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"}},"required":["id"]}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postBrands"}},"/brands/suggestions":{"get":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"List Brand Suggestions","description":"List the open brand suggestions of a project","tags":["Project"],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"description":"Required if using a company api key","example":"or_f45b94ba-5e35-4982-93ed-285e72ee14eb","type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"default":1000,"type":"number","minimum":1,"maximum":10000}},{"name":"offset","in":"query","required":false,"schema":{"default":0,"type":"number","minimum":0}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"description":"Success","type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"},"name":{"example":"Peec AI","type":"string"},"domains":{"type":"array","items":{"example":"peec.ai","type":"string"}},"chat_count":{"example":5,"type":"number"}},"required":["id","name","chat_count"]}}},"required":["data"]}}}}},"operationId":"getBrandsSuggestions"}},"/brands/suggestions/{brand_suggestion_id}/accept":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Accept Brand Suggestion","description":"Accept a brand suggestion by ID, converting it into a brand within the project","tags":["Project"],"parameters":[{"name":"brand_suggestion_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Brand suggestion accepted successfully","content":{"application/json":{"schema":{"description":"Brand suggestion accepted successfully","type":"object","properties":{"id":{"example":"kw_915e742b-396d-4a86-ad57-8bc84e8c2232","type":"string"}},"required":["id"]}}}},"404":{"description":"Response for status 404","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"409":{"description":"Response for status 409","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postBrandsSuggestionsByBrand_suggestion_idAccept"}},"/brands/suggestions/{brand_suggestion_id}/reject":{"post":{"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}],"summary":"Reject Brand Suggestion","description":"Reject a brand suggestion by ID, removing it from the project and preventing it from being re-suggested","tags":["Project"],"parameters":[{"name":"brand_suggestion_id","
[...]
