{
    "openapi": "3.0.3",
    "info": {
        "title": "Peec AI Customer API",
        "description": "Development documentation",
        "version": "1.0.0",
        "contact": {
            "name": "Peec AI Team",
            "email": "support@peec.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.peec.ai/customer/v1"
        }
    ],
    "components": {
        "securitySchemes": {
            "APIKeyHeader": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key"
            },
            "APIKeyQuery": {
                "type": "apiKey",
                "in": "query",
                "name": "api_key"
            }
        },
        "schemas": {}
    },
    "paths": {
        "/reports/brands": {
            "post": {
                "security": [
                    {
                        "APIKeyHeader": []
                    },
                    {
                        "APIKeyQuery": []
                    }
                ],
                "summary": "Get Brands Report",
                "description": "Get a report on Brands.\n\n## Aggregation Formulas\n\nWhen aggregating results across multiple rows/dimensions, use the following formulas:\n\n- **sentiment**: `((sum(sentiment_sum) / sum(sentiment_count)) / 2 + 0.5) * 100`\n- **position**: `sum(position_sum) / sum(position_count)`\n- **visibility**: `sum(visibility_count) / sum(visibility_total)`\n- **share_of_voice**: `mention_count / sum(mention_count)`",
                "tags": [
                    "Reports"
                ],
                "parameters": [
                    {
                        "name": "project_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "Required if using a company api key",
                            "example": "or_f45b94ba-5e35-4982-93ed-285e72ee14eb",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_id": {
                                        "description": "Required if using a company api key",
                                        "example": "or_f45b94ba-5e35-4982-93ed-285e72ee14eb",
                                        "type": "string"
                                    },
                                    "limit": {
                                        "default": 1000,
                                        "type": "number",
                                        "minimum": 1,
                                        "maximum": 10000
                                    },
                                    "offset": {
                                        "default": 0,
                                        "type": "number",
                                        "minimum": 0
                                    },
                                    "start_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "end_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "dimensions": {
                                        "example": [
                                            "tag_id",
                                            "model_id"
                                        ],
                                        "description": "Dimensions to break down the report by.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "prompt_id",
                                                "model_id",
                                                "tag_id",
                                                "topic_id",
                                                "date",
                                                "country_code",
                                                "chat_id"
                                            ]
                                        }
                                    },
                                    "filters": {
                                        "description": "Filter results by specific fields. Multiple filters are AND'd together.",
                                        "example": [
                                            {
                                                "field": "brand_id",
                                                "operator": "in",
                                                "values": [
                                                    "kw_abc123"
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "model_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "chatgpt-scraper",
                                                                            "perplexity-scraper",
                                                                            "google-ai-overview-scraper",
                                                                            "gpt-4o-search",
                                                                            "google-ai-mode-scraper",
                                                                            "gemini-scraper",
                                                                            "claude-sonnet-4",
                                                                            "microsoft-copilot-scraper",
                                                                            "claude-haiku-4.5",
                                                                            "claude-3.5-haiku",
                                                                            "gpt-4o",
                                                                            "gpt-3.5-turbo",
                                                                            "gemini-2.5-flash",
                                                                            "sonar",
                                                                            "deepseek-r1",
                                                                            "llama-3.3-70b-instruct",
                                                                            "grok-scraper",
                                                                            "grok-api",
                                                                            "llama-sonar"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "tag_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "topic_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "prompt_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "country_code"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "AE",
                                                                            "AL",
                                                                            "AM",
                                                                            "AR",
                                                                            "AT",
                                                                            "AU",
                                                                            "BA",
                                                                            "BE",
                                                                            "BG",
                                                                            "BH",
                                                                            "BO",
                                                                            "BR",
                                                                            "BY",
                                                                            "CA",
                                                                            "CH",
                                                                            "CL",
                                                                            "CO",
                                                                            "CR",
                                                                            "CY",
                                                                            "CZ",
                                                                            "DE",
                                                                            "DK",
                                                                            "DO",
                                                                            "EC",
                                                                            "EE",
                                                                            "EG",
                                                                            "ES",
                                                                            "FI",
                                                                            "FR",
                                                                            "GB",
                                                                            "GE",
                                                                            "GR",
                                                                            "GT",
                                                                            "HN",
                                                                            "HR",
                                                                            "HU",
                                                                            "ID",
                                                                            "IE",
                                                                            "IL",
                                                                            "IN",
                                                                            "IQ",
                                                                            "IS",
                                                                            "IT",
                                                                            "JO",
                                                                            "JP",
                                                                            "KR",
                                                                            "KW",
                                                                            "LB",
                                                                            "LT",
                                                                            "LU",
                                                                            "LV",
                                                                            "MA",
                                                                            "MD",
                                                                            "ME",
                                                                            "MK",
                                                                            "MT",
                                                                            "MX",
                                                                            "MY",
                                                                            "NI",
                                                                            "NL",
                                                                            "NO",
                                                                            "NZ",
                                                                            "OM",
                                                                            "PK",
                                                                            "PA",
                                                                            "PE",
                                                                            "PH",
                                                                            "PL",
                                                                            "PT",
                                                                            "PY",
                                                                            "PS",
                                                                            "QA",
                                                                            "RO",
                                                                            "RS",
                                                                            "SA",
                                                                            "SE",
                                                                            "SG",
                                                                            "SI",
                                                                            "SK",
                                                                            "SV",
                                                                            "TH",
                                                                            "TN",
                                                                            "TR",
                                                                            "TW",
                                                                            "UA",
                                                                            "US",
                                                                            "UY",
                                                                            "VE",
                                                                            "VN",
                                                                            "ZA"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "chat_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "field": {
                                                            "type": "string",
                                                            "enum": [
                                                                "brand_id"
                                                            ]
                                                        },
                                                        "operator": {
                                                            "type": "string",
                                                            "enum": [
                                                                "in",
                                                                "not_in"
                                                            ]
                                                        },
                                                        "values": {
                                                            "minItems": 1,
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "field",
                                                        "operator",
                                                        "values"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_id": {
                                        "description": "Required if using a company api key",
                                        "example": "or_f45b94ba-5e35-4982-93ed-285e72ee14eb",
                                        "type": "string"
                                    },
                                    "limit": {
                                        "default": 1000,
                                        "type": "number",
                                        "minimum": 1,
                                        "maximum": 10000
                                    },
                                    "offset": {
                                        "default": 0,
                                        "type": "number",
                                        "minimum": 0
                                    },
                                    "start_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "end_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "dimensions": {
                                        "example": [
                                            "tag_id",
                                            "model_id"
                                        ],
                                        "description": "Dimensions to break down the report by.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "prompt_id",
                                                "model_id",
                                                "tag_id",
                                                "topic_id",
                                                "date",
                                                "country_code",
                                                "chat_id"
                                            ]
                                        }
                                    },
                                    "filters": {
                                        "description": "Filter results by specific fields. Multiple filters are AND'd together.",
                                        "example": [
                                            {
                                                "field": "brand_id",
                                                "operator": "in",
                                                "values": [
                                                    "kw_abc123"
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "model_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "chatgpt-scraper",
                                                                            "perplexity-scraper",
                                                                            "google-ai-overview-scraper",
                                                                            "gpt-4o-search",
                                                                            "google-ai-mode-scraper",
                                                                            "gemini-scraper",
                                                                            "claude-sonnet-4",
                                                                            "microsoft-copilot-scraper",
                                                                            "claude-haiku-4.5",
                                                                            "claude-3.5-haiku",
                                                                            "gpt-4o",
                                                                            "gpt-3.5-turbo",
                                                                            "gemini-2.5-flash",
                                                                            "sonar",
                                                                            "deepseek-r1",
                                                                            "llama-3.3-70b-instruct",
                                                                            "grok-scraper",
                                                                            "grok-api",
                                                                            "llama-sonar"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "tag_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "topic_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "prompt_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "country_code"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "AE",
                                                                            "AL",
                                                                            "AM",
                                                                            "AR",
                                                                            "AT",
                                                                            "AU",
                                                                            "BA",
                                                                            "BE",
                                                                            "BG",
                                                                            "BH",
                                                                            "BO",
                                                                            "BR",
                                                                            "BY",
                                                                            "CA",
                                                                            "CH",
                                                                            "CL",
                                                                            "CO",
                                                                            "CR",
                                                                            "CY",
                                                                            "CZ",
                                                                            "DE",
                                                                            "DK",
                                                                            "DO",
                                                                            "EC",
                                                                            "EE",
                                                                            "EG",
                                                                            "ES",
                                                                            "FI",
                                                                            "FR",
                                                                            "GB",
                                                                            "GE",
                                                                            "GR",
                                                                            "GT",
                                                                            "HN",
                                                                            "HR",
                                                                            "HU",
                                                                            "ID",
                                                                            "IE",
                                                                            "IL",
                                                                            "IN",
                                                                            "IQ",
                                                                            "IS",
                                                                            "IT",
                                                                            "JO",
                                                                            "JP",
                                                                            "KR",
                                                                            "KW",
                                                                            "LB",
                                                                            "LT",
                                                                            "LU",
                                                                            "LV",
                                                                            "MA",
                                                                            "MD",
                                                                            "ME",
                                                                            "MK",
                                                                            "MT",
                                                                            "MX",
                                                                            "MY",
                                                                            "NI",
                                                                            "NL",
                                                                            "NO",
                                                                            "NZ",
                                                                            "OM",
                                                                            "PK",
                                                                            "PA",
                                                                            "PE",
                                                                            "PH",
                                                                            "PL",
                                                                            "PT",
                                                                            "PY",
                                                                            "PS",
                                                                            "QA",
                                                                            "RO",
                                                                            "RS",
                                                                            "SA",
                                                                            "SE",
                                                                            "SG",
                                                                            "SI",
                                                                            "SK",
                                                                            "SV",
                                                                            "TH",
                                                                            "TN",
                                                                            "TR",
                                                                            "TW",
                                                                            "UA",
                                                                            "US",
                                                                            "UY",
                                                                            "VE",
                                                                            "VN",
                                                                            "ZA"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "chat_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "field": {
                                                            "type": "string",
                                                            "enum": [
                                                                "brand_id"
                                                            ]
                                                        },
                                                        "operator": {
                                                            "type": "string",
                                                            "enum": [
                                                                "in",
                                                                "not_in"
                                                            ]
                                                        },
                                                        "values": {
                                                            "minItems": 1,
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "field",
                                                        "operator",
                                                        "values"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "project_id": {
                                        "description": "Required if using a company api key",
                                        "example": "or_f45b94ba-5e35-4982-93ed-285e72ee14eb",
                                        "type": "string"
                                    },
                                    "limit": {
                                        "default": 1000,
                                        "type": "number",
                                        "minimum": 1,
                                        "maximum": 10000
                                    },
                                    "offset": {
                                        "default": 0,
                                        "type": "number",
                                        "minimum": 0
                                    },
                                    "start_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "end_date": {
                                        "description": "full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21",
                                        "example": "2025-09-22",
                                        "default": "2026-01-01",
                                        "type": "string",
                                        "format": "date",
                                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                                    },
                                    "dimensions": {
                                        "example": [
                                            "tag_id",
                                            "model_id"
                                        ],
                                        "description": "Dimensions to break down the report by.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "prompt_id",
                                                "model_id",
                                                "tag_id",
                                                "topic_id",
                                                "date",
                                                "country_code",
                                                "chat_id"
                                            ]
                                        }
                                    },
                                    "filters": {
                                        "description": "Filter results by specific fields. Multiple filters are AND'd together.",
                                        "example": [
                                            {
                                                "field": "brand_id",
                                                "operator": "in",
                                                "values": [
                                                    "kw_abc123"
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "model_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "chatgpt-scraper",
                                                                            "perplexity-scraper",
                                                                            "google-ai-overview-scraper",
                                                                            "gpt-4o-search",
                                                                            "google-ai-mode-scraper",
                                                                            "gemini-scraper",
                                                                            "claude-sonnet-4",
                                                                            "microsoft-copilot-scraper",
                                                                            "claude-haiku-4.5",
                                                                            "claude-3.5-haiku",
                                                                            "gpt-4o",
                                                                            "gpt-3.5-turbo",
                                                                            "gemini-2.5-flash",
                                                                            "sonar",
                                                                            "deepseek-r1",
                                                                            "llama-3.3-70b-instruct",
                                                                            "grok-scraper",
                                                                            "grok-api",
                                                                            "llama-sonar"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "tag_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "topic_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "prompt_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "country_code"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "AE",
                                                                            "AL",
                                                                            "AM",
                                                                            "AR",
                                                                            "AT",
                                                                            "AU",
                                                                            "BA",
                                                                            "BE",
                                                                            "BG",
                                                                            "BH",
                                                                            "BO",
                                                                            "BR",
                                                                            "BY",
                                                                            "CA",
                                                                            "CH",
                                                                            "CL",
                                                                            "CO",
                                                                            "CR",
                                                                            "CY",
                                                                            "CZ",
                                                                            "DE",
                                                                            "DK",
                                                                            "DO",
                                                                            "EC",
                                                                            "EE",
                                                                            "EG",
                                                                            "ES",
                                                                            "FI",
                                                                            "FR",
                                                                            "GB",
                                                                            "GE",
                                                                            "GR",
                                                                            "GT",
                                                                            "HN",
                                                                            "HR",
                                                                            "HU",
                                                                            "ID",
                                                                            "IE",
                                                                            "IL",
                                                                            "IN",
                                                                            "IQ",
                                                                            "IS",
                                                                            "IT",
                                                                            "JO",
                                                                            "JP",
                                                                            "KR",
                                                                            "KW",
                                                                            "LB",
                                                                            "LT",
                                                                            "LU",
                                                                            "LV",
                                                                            "MA",
                                                                            "MD",
                                                                            "ME",
                                                                            "MK",
                                                                            "MT",
                                                                            "MX",
                                                                            "MY",
                                                                            "NI",
                                                                            "NL",
                                                                            "NO",
                                                                            "NZ",
                                                                            "OM",
                                                                            "PK",
                                                                            "PA",
                                                                            "PE",
                                                                            "PH",
                                                                            "PL",
                                                                            "PT",
                                                                            "PY",
                                                                            "PS",
                                                                            "QA",
                                                                            "RO",
                                                                            "RS",
                                                                            "SA",
                                                                            "SE",
                                                                            "SG",
                                                                            "SI",
                                                                            "SK",
                                                                            "SV",
                                                                            "TH",
                                                                            "TN",
                                                                            "TR",
                                                                            "TW",
                                                                            "UA",
                                                                            "US",
                                                                            "UY",
                                                                            "VE",
                                                                            "VN",
                                                                            "ZA"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "field": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "chat_id"
                                                                    ]
                                                                },
                                                                "operator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "in",
                                                                        "not_in"
                                                                    ]
                                                                },
                                                                "values": {
                                                                    "minItems": 1,
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "field",
                                                                "operator",
                                                                "values"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "field": {
                                                            "type": "string",
                                                            "enum": [
                                                                "brand_id"
                                                            ]
                                                        },
                                                        "operator": {
                                                            "type": "string",
                                                            "enum": [
                                                                "in",
                                                                "not_in"
                                                            ]
                                                        },
                                                        "values": {
                                                            "minItems": 1,
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "field",
                                                        "operator",
                                                        "values"
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Success",
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "brand": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "kw_915e742b-396d-4a86-ad57-8bc84e8c2232",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "example": "Peec AI",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ]
                                                    },
                                                    "prompt": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "pr_93f790de-5b7a-45ee-b782-61103c81f20d",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    },
                                                    "model": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "gpt-4o-search",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    },
                                                    "tag": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "tg_23abec5b-100a-4261-9ee7-1effe68f0149",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    },
                                                    "topic": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "to_e6b8cdd3-a51b-4d94-a866-28dbe6b830a6",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    },
                                                    "country_code": {
                                                        "example": "US",
                                                        "type": "string"
                                                    },
                                                    "chat": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "example": "ch_abc123",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id"
                                                        ]
                                                    },
                                                    "date": {
                                                        "example": "2025-03-15",
                                                        "type": "string"
                                                    },
                                                    "share_of_voice": {
                                                        "example": 0.15,
                                                        "type": "number"
                                                    },
                                                    "mention_count": {
                                                        "example": 42,
                                                        "type": "number"
                                                    },
                                                    "visibility": {
                                                        "example": 0.5,
                                                        "type": "number"
                                                    },
                                                    "visibility_count": {
                                                        "example": 5,
                                                        "type": "number"
                                                    },
                                                    "visibility_total": {
                                                        "example": 10,
                                                        "type": "number"
                                                    },
                                                    "sentiment": {
[...]
